{
  "root": true,

  "env": {
    "node": true,
    "es6": true,
    "commonjs": true
  },

  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },

  "extends": [
    "plugin:github/recommended",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],

  "plugins": [
    "github",
    "prettier"
  ],

  "rules": {
    "prettier/prettier": "error",

    "no-console": "off",
    "camelcase": "off",
    "import/no-namespace": "off"
  }
}
